.wrapper {
  width: 700px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
}

.btn {
  width: 150px;
  border: none;
  padding: 10px 20px;
  background-color: #00AEEA;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease-out;
}
.btn:hover {
  background-color: #38ccff;
}
.btn:active {
  background-color: #009bd1;
}

.btn--back {
  background-color: grey;
}


